<div
  class="relative pt-16 pb-32 flex items-center justify-center"
  style="min-height: 100vh"
  id="hero"
>
  <div
    class="absolute top-0 w-full h-full bg-center bg-cover"
    style="background-image: url('../../assets/img/hero-test.jpg')"
  >
    <span
      class="w-full h-full absolute opacity-100 bg-gradient-to-b bg-gray-900 from-65% to-gray-900 to-100%"
    ></span>
  </div>
  <div class="container relative">
    <div class="items-center flex flex-wrap">
      <div class="w-full lg:w-8/12 px-4 ml-auto mr-auto text-center">
        <h1 class="text-ocBlue font-extrabold text-5xl lg:text-7xl">
          {{ shortDescription }}
        </h1>
        <p class="mt-4 text-2xl font-medium text-gray-200">
          {{ detailedDescription }}
        </p>
        <h1 class="pt-5 text-ocGray font-extrabold text-2xl lg:text-2xl">
          Sistemas ERP + Software a Medida
        </h1>
      </div>
    </div>
  </div>
  <div class="hidden lg:block lg:absolute bottom-130 left-0 pl-20 pt-96">
    <img class="h-96" src="../../assets/img/pcs.png" alt="" />
  </div>
</div>
