<div
  class="relative pt-16 pb-32 flex items-center justify-center"
  style="min-height: 75vh"
>
  <div
    class="absolute top-0 w-full h-full bg-center bg-cover"
    style="background-image: url('../../assets/img/hero-test.jpg')"
  >
    <span class="w-full h-full absolute opacity-80 bg-black"></span>
  </div>
  <div class="container relative">
    <div class="items-center flex flex-wrap">
      <div class="w-full lg:w-8/12 px-4 ml-auto mr-auto text-center">
        <h1 class="text-white font-semibold text-6xl">
          {{ shortDescription }}
        </h1>
        <p class="mt-4 text-lg text-gray-300">
          {{ detailedDescription }}
        </p>
      </div>
    </div>
  </div>
</div>
