<nav
  class="lg:flex hidden items-center justify-between flex-wrap fixed bg-gray-900 z-40 w-full p-5"
>
  <div class="flex w-auto items-center mr-6 px-20">
    <a href="../../index.html">
      <img src="../../assets/img/one_cluster.png" alt="one_cluster" />
    </a>
  </div>
  <div class="w-auto flex justify-center items-end px-20">
    <app-navbar-item
      text="Servicios"
      link="#product-component"
    ></app-navbar-item>
    <app-navbar-item
      text="Soporte & Documentación"
      link="https://docs.onecluster.org/"
      target="_blank"
    ></app-navbar-item>
    <app-navbar-item text="Quiénes Somos"></app-navbar-item>
  </div>
</nav>
