<nav
  class="flex items-center justify-between flex-wrap relative bg-gradient-to-t from-black via-cyan-950 to-black p-3"
>
  <div class="flex w-auto items-center mr-6">
    <a href="">
      <img src="../../assets/img/one_cluster.png" alt="one_cluster" />
    </a>
  </div>
  <div class="w-auto flex justify-center items-end">
    <a
      href="#responsive-header"
      class="font-medium inline-block text-white hover:text-gray-500 mr-4"
    >
      Servicios
    </a>
    <a
      href="#responsive-header"
      class="font-medium block lg:inline-block text-white hover:text-gray-500 mr-4"
    >
      Quiénes somos
    </a>
    <a
      href="#responsive-header"
      class="font-medium block lg:inline-block text-white hover:text-gray-500"
    >
      Contacto
    </a>
  </div>
</nav>
