<div
  class="flex min-h-96 w-full flex-col align-middle justify-center"
  id="custom-development"
>
  <div class="text-center py-60 px-20 xl:mx-90">
    <h1 class="text-5xl font-bold text-ocBlue pb-5">Software a Medida</h1>
    <p class="text-4xl font-medium text-ocGray">
      Sumérgete en la innovación con nuestros módulos a medida, diseñados para
      llevar tu visión a la realidad digital. En One Cluster, entendemos que
      cada negocio es único, por lo que ofrecemos soluciones de desarrollo de
      software personalizadas que se adaptan a tus necesidades específicas.
      Nuestros expertos en desarrollo trabajan mano a mano contigo para crear
      soluciones robustas y eficientes que impulsen el crecimiento de tu
      empresa.
    </p>
  </div>
</div>
