<div
  class="bg-gradient-to-b from-white from-90% to-ocBlue to-100% p-20 w-full"
  style="min-height: 100vh"
  id="product-component"
>
  <div class="text-center mb-6">
    <span class="text-5xl font-bold text-gray-900"> Un producto, </span>
    <span class="text-5xl font-extrabold text-ocBlue text-center">
      muchas soluciones
    </span>
  </div>

  <div class="flex-wrap flex justify-center w-4/6 mx-auto">
    <app-module-item
      icon="fa-solid fa-users"
      title="TERCEROS"
      description="Gestiona de forma eficiente tus relaciones comerciales con clientes y proveedores"
    ></app-module-item>
    <app-module-item
      icon="fa-solid fa-building"
      title="EMPRESAS"
      description="Organiza y administra la información clave de tu empresa"
    ></app-module-item>
    <app-module-item
      icon="fa-solid fa-gift"
      title="PRODUCTOS"
      description="Mantén un control preciso de tu catálogo de productos"
    ></app-module-item>
    <app-module-item
      icon="fa-solid fa-circle-dollar-to-slot"
      title="CONTABILIDAD"
      description="Simplifica tus procesos contables con herramientas intuitivas"
    ></app-module-item>
    <app-module-item
      icon="fas fa-dolly"
      title="INVENTARIO Y BODEGAS"
      description="Optimiza el control de tu inventario y maximiza la eficiencia en tus operaciones"
    ></app-module-item>
    <app-module-item
      icon="fas fa-cart-plus"
      title="COMPRAS"
      description="Agiliza el proceso de adquisición de materiales y suministros"
    ></app-module-item>
    <app-module-item
      icon="fa-solid fa-store"
      title="VENTAS"
      description="Gestiona y supervisa tus operaciones de venta de principio a fin"
    ></app-module-item>
    <app-module-item
      icon="fas fa-hammer"
      title="PRODUCCIONES"
      description="Coordina y controla tus procesos de producción de manera efectiva"
    ></app-module-item>
    <app-module-item
      icon="fas fa-phone-volume"
      title="OPORTUNIDADES DE VENTA"
      description="Rastrea oportunidades de negocio, convierte tus prospectos en tus clientes"
    ></app-module-item>
    <app-module-item
      icon="fa-solid fa-cash-register"
      title="POS"
      description="Facilita las transacciones comerciales con una amigable terminal de punto de venta"
    ></app-module-item>
    <app-module-item
      icon="fas fa-globe"
      title="IOT"
      description="Conecta tus dispositivos, recopila datos en tiempo real y optimiza tus procesos"
    ></app-module-item>
  </div>
</div>
