<div
  class="bg-gradient-to-b from-white from-90% to-ocBlue to-100% p-20 w-full"
  style="min-height: 100vh"
  id="product-component"
>
  <div class="text-center mb-4">
    <span class="text-4xl font-bold text-gray-900"> Un producto, </span>
    <span class="text-4xl font-extrabold text-ocBlue text-center">
      muchas soluciones
    </span>
  </div>

  <div class="flex-wrap flex justify-center w-4/6 mx-auto">
    <app-module-item
      icon="fas fa-chart-line"
      title="TERCEROS"
      description="Administra de clientes y proveedores"
    ></app-module-item>
    <app-module-item
      icon="fa-solid fa-cart-shopping"
      title="EMPRESAS"
      description="Administra de compañias"
    ></app-module-item>
    <app-module-item
      icon="fas fa-chart-line"
      title="PRODUCTOS"
      description="Administra de productos"
    ></app-module-item>
    <app-module-item
      icon="fas fa-chart-line"
      title="CONTABILIDAD"
      description="Sigue a detalle tus movimientos contables"
    ></app-module-item>
    <app-module-item
      icon="fas fa-chart-line"
      title="INVETARIO Y BODEGAS"
      description="Realiza seguimiento de tus inventarios"
    ></app-module-item>
    <app-module-item
      icon="fas fa-chart-line"
      title="COMPRAS Y VENTAS"
      description="Realiza eguimiento de tus ordenes"
    ></app-module-item>
    <app-module-item
      icon="fas fa-chart-line"
      title="FINANCIAL ACCOUNTING"
      description="Record all transactions in your chart of accounts."
    ></app-module-item>
    <app-module-item
      icon="fas fa-chart-line"
      title="FINANCIAL ACCOUNTING"
      description="Record all transactions in your chart of accounts."
    ></app-module-item>
    <app-module-item
      icon="fas fa-chart-line"
      title="FINANCIAL ACCOUNTING"
      description="Record all transactions in your chart of accounts."
    ></app-module-item>
    <app-module-item
      icon="fas fa-chart-line"
      title="FINANCIAL ACCOUNTING"
      description="Record all transactions in your chart of accounts."
    ></app-module-item>
    <app-module-item
      icon="fas fa-chart-line"
      title="FINANCIAL ACCOUNTING"
      description="Record all transactions in your chart of accounts."
    ></app-module-item>
    <app-module-item
      icon="fas fa-chart-line"
      title="FINANCIAL ACCOUNTING"
      description="Record all transactions in your chart of accounts."
    ></app-module-item>
  </div>
</div>
