<div class="bg-gradient-to-b from-black to-cyan-900 pt-20 w-full">
  <div class="text-center">
    <span class="text-3xl font-bold text-white"> Un producto, </span>
    <span class="text-3xl font-bold text-cyan-700 text-center">
      muchas soluciones
    </span>
  </div>

  <div class="flex-wrap flex justify-center w-4/6 mx-auto">
    <app-module-item
      icon="fas fa-chart-line"
      title="FINANCIAL ACCOUNTING"
      description="Record all transactions in your chart of accounts."
    ></app-module-item>
    <app-module-item
      icon="fas fa-chart-line"
      title="FINANCIAL ACCOUNTING"
      description="Record all transactions in your chart of accounts."
    ></app-module-item>
    <app-module-item
      icon="fas fa-chart-line"
      title="FINANCIAL ACCOUNTING"
      description="Record all transactions in your chart of accounts."
    ></app-module-item>
    <app-module-item
      icon="fas fa-chart-line"
      title="FINANCIAL ACCOUNTING"
      description="Record all transactions in your chart of accounts."
    ></app-module-item>
    <app-module-item
      icon="fas fa-chart-line"
      title="FINANCIAL ACCOUNTING"
      description="Record all transactions in your chart of accounts."
    ></app-module-item>
    <app-module-item
      icon="fas fa-chart-line"
      title="FINANCIAL ACCOUNTING"
      description="Record all transactions in your chart of accounts."
    ></app-module-item>
    <app-module-item
      icon="fas fa-chart-line"
      title="FINANCIAL ACCOUNTING"
      description="Record all transactions in your chart of accounts."
    ></app-module-item>
    <app-module-item
      icon="fas fa-chart-line"
      title="FINANCIAL ACCOUNTING"
      description="Record all transactions in your chart of accounts."
    ></app-module-item>
  </div>
</div>
